<%- include('partials/header', { title: 'Movie List' }) %>

<h1>Movie List</h1>
<div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Movie Description</th>
                    <th>Year</th>
                    <th>Genres </th>
                    <th>Rating </th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% movielist.forEach(movie=>{%>
                    <tr>
                        <td><%= movie.movieName %></td>
                        <td><%= movie.movieDescript %></td>
                        <td><%= movie.year %></td>
                        <td><%= movie.genres %></td>
                        <td><%= movie.rating %></td>
                       
                        <td>
                            <form action="/update/<%=movie.id %>" method ="get">
                               <button type="submit" class="update-btn">Update</button> 
                            </form>
                        </td>
                        <td>
                            <form action ="/delete/<%= movie._id %>" method="post"
                            onsubmit="return confirm('are you want to delete this doc?')">
                            <button type="submit" class="delete-btn">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
</div>

<%- include('partials/footer') %>
